<li>
	<div class="views-field views-field-field-ont-tradename">
		<div class="field-content">
			<a href="https://www.pamca.net/" target="_blank">
				<span class="uppercase">2105522 Ontario 
					<abbr title="Limited">Ltd.</abbr>
				</span>
				<span class="ontario-icon__new-window" lang="en" aria-label="This link opens a new window"></span>
			</a>
		</div>
	</div>
	<div class="views-field views-field-field-ont-manufacture">
		<div class="field-content"></div>
	</div>
	<div class="views-field views-field-field-product-types">
		<span class="views-label views-label-field-product-types">Supplies</span>
		<div class="field-content toc-omit">
			<ul>
				<li class=" supplier-products--filter-selected">
					<div about="/taxonomy/term/25">
						<h2>
							<a href="/taxonomy/term/25">
								<div>glov</div>
							</a>
						</h2>
						<div>
							<p>Gloves</p>
						</div>
					</div>
				</li>
				<li>
					<div about="/taxonomy/term/6">
						<h2>
							<a href="/taxonomy/term/6">
								<div>kn95</div>
							</a>
						</h2>
						<div>
							<p>KN95 masks</p>
						</div>
					</div>
				</li>
				<li>
					<div about="/taxonomy/term/7">
						<h2>
							<a href="/taxonomy/term/7">
								<div>n95</div>
							</a>
						</h2>
						<div>
							<p>N95 masks</p>
						</div>
					</div>
				</li>
				<li>
					<div about="/taxonomy/term/8">
						<h2>
							<a href="/taxonomy/term/8">
								<div>surgicalmasks</div>
							</a>
						</h2>
						<div>
							<p>Surgical/procedure masks</p>
						</div>
					</div>
				</li>
				<li class="covid-suppliers-products__hide-show covid-suppliers--products__hide">
					<div about="/taxonomy/term/10">
						<h2>
							<a href="/taxonomy/term/10">
								<div>othernonmedical</div>
							</a>
						</h2>
						<div>
							<p>Other non-medical grade masks</p>
						</div>
					</div>
				</li>
				<li class="covid-suppliers-products__hide-show covid-suppliers--products__hide">
					<div about="/taxonomy/term/11">
						<h2>
							<a href="/taxonomy/term/11">
								<div>handsoap</div>
							</a>
						</h2>
						<div>
							<p>Antimicrobial hand soap</p>
						</div>
					</div>
				</li>
				<li class="covid-suppliers-products__hide-show covid-suppliers--products__hide">
					<div about="/taxonomy/term/13">
						<h2>
							<a href="/taxonomy/term/13">
								<div>disinfectantcleaner</div>
							</a>
						</h2>
						<div>
							<p>Disinfectant cleaners</p>
						</div>
					</div>
				</li>
				<li class="covid-suppliers-products__hide-show covid-suppliers--products__hide">
					<div about="/taxonomy/term/15">
						<h2>
							<a href="/taxonomy/term/15">
								<div>handsanitizer</div>
							</a>
						</h2>
						<div>
							<p>Hand sanitizer</p>
						</div>
					</div>
				</li>
				<li class="covid-suppliers-products__hide-show covid-suppliers--products__hide">
					<div about="/taxonomy/term/18">
						<h2>
							<a href="/taxonomy/term/18">
								<div>faceshields</div>
							</a>
						</h2>
						<div>
							<p>Face shields</p>
						</div>
					</div>
				</li>
				<li style="display: inline-block !important;">
					<a class="ontario-button ontario-button--primary covid-button--suppliers-products" href="">Show all</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="views-field views-field-nothing">
		<span class="views-label views-label-nothing">Contact</span>
		<span class="field-content">
			<a href="tel:+14165297725">416-322-3444</a>
			<a href="mailto:sales@pamca.net">sales@pamca.net</a>
		</span>
	</div>
	<div class="views-field views-field-field-ont-city">
		<span class="views-label views-label-field-ont-city">Location</span>
		<div class="field-content">Toronto</div>
	</div>
	<div class="views-field views-field-field-ont-website">
		<span class="views-label views-label-field-ont-website">Website</span>
		<div class="field-content">
			<a href="https://www.pamca.net/" target="_blank">https://www.pamca.net/</a>
		</div>
	</div>
</li>